CLICKHOUSE__CLICKHOUSE_USER=
CLICKHOUSE__CLICKHOUSE_PASSWORD=
CLICKHOUSE__CLICKHOUSE_PORT=
CLICKHOUSE__CLICKHOUSE_HOST=
CLICKHOUSE__CLICKHOUSE_SECURE=

DEADLOCK_API_BASE_URL=https://api.deadlock-api.com

CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_PORT=
CLICKHOUSE_DB=

FERNET_KEY =